<footer>
    <nav>
        <ul>
            <li><a href="imprint.html">Impressum</a></li>
            <li><a href="privacy.html">Datenschutz</a></li>
            <li><a href="contact.html">Kontakt</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="404.html">Logo: Instagram</a></li>
            <li><a href="404.html">Logo: Facebook</a></li>
            <li><a href="404.html">Logo: X</a></li>
            <li><a href="404.html">Logo: Pinterest</a></li>
        </ul>
    </nav>
    <p>Copyright by Michael Landinger 2025</p>
</footer>